@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Ticket Management System</h1>
    <p class="lead">@Html.ActionLink("Try it", "Index", controllerName: "Ticket", routeValues: null, htmlAttributes: new { @class = "btn btn-primary" })</p>

</div>